<!doctype html>
<html>
<head>
    <meta charset="EUC-KR">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>17List - 세상의 모든 리스트</title>
</head>


<body>
<div id="bgd"></div>
<div id="content" class="container-max">
    <button type="button" class="temp"><strong>날씨</strong></button>
    <h1>17List</h1>
    <p>검색하고 싶은 리스트를 클릭해주세요</p>
    <div class="btn">
        <button type="button" class="btn btn-primary"><strong>Music</strong></button>
        <button type="button" class="btn btn-primary"><strong>News</strong></button>
    </div>
</div>
</body>
</html>