* {
    font-family: 'Open Sans', sans-serif;
}
body {
    height: 100vh;
    background: url("https://i.imgur.com/BZvC7iv.jpg") no-repeat center;
    background-size: cover;
}


.container-max {
    max-width: 1200px;
}
/* 버튼을 HTML에서 <div> 위치선정이 잘못되어있는건지..*/
.temp{
    float: right;
    width : 100px;
    height: 80px;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid honeydew;
}
.mise{
    float: right;
    width : 100px;
    height: 80px;
    color: white;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid honeydew;
}
.temp:hover{
    border-color: #f2f2f2;
    background-color: darkslateblue;
}
.mise:hover{
    border-color: #f2f2f2;
    background-color: darkblue;
}
#content {
    color: #f2f2f2;
    position: relative;
    margin-left: 18%;
    margin-top: 9.5%;
}

#content h1 {
    font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 120px;
    margin: 1.25em 0 0.2em;
    letter-spacing: -2px;
}

#content p {
    margin: 0 0 1.313em;
    font-size: 40px;
    font-weight: 500;
    color: floralwhite;

}

.btn {
    float: inside;
    width : 170px;
    height: 70px;
    margin: 0px 0px 30px 0px;
    background-color: darkviolet;
    font-size : 38px;
    color: aliceblue;
    border-radius: 30px;
    border: 1px solid darkmagenta;

}

.btn:hover {
    border-color: #f0f8ff;
    background-color: #b0c4de;
}













